body{
    background-color:white;
}

.header{
    background-color:#e8ffaf;
}

.contenedor{
    display: flex;
    justify-content: center;
    margin: 9em;
}

#formulario1{
    background-color: rgb(255, 255, 255);
}

.table-responsive{
    justify-content: center;
}

h2{
    font-family: inherit;
    text-align: center;
    color: #333a40;
}

footer{
    background-color: #e8ffaf;
}

.footer-copyright{
    background-color: #90cd65;
}

a{
    color: #76d037;
}

