

body{
    background-color:white;
}

.header{
    background-color:#e8ffaf;
}

.carrusel{
    margin-top: 1em;
}

.carrusel h2{
    color: #333a40;
    font-size: 50px;
    font-family: inherit;
}


section{
    display: flex;
    background-color: rgb(255, 255, 255);
}

.tituloMedio{
    text-align: center;
    padding-top: 10px;
    color: #888888;
    font-family: inherit;
    font-size: 30px;
}

.t{
    color:white;
}

h2{
    display: grid;
    grid-row: auto;
    color: #333a40;
}

.uno{
    text-align: right;
}

.uno p{
    color: rgb(104, 104, 104);
}

.dos{
    text-align: center;
}

.dos p{
    color:rgb(104, 104, 104);
}

.tres{
    text-align: left;
}

.tres p{
    color:rgb(104, 104, 104);
}

h2{
    text-align: center;
}



.h32{
    display: flexbox;
    text-align: center;
}

section>h3{
    display: flex;
    text-align: center;
}

article{
    margin: 0.4rem;
    -ms-flex: 1 0 0px;
    flex: 1;
}

article.informacion {
    flex-grow: unset;
    flex: 2;
    -ms-flex-grow: 2;
    /* shortcut for "flex-grow: 2" */
}

article img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 750px) {
    
    section {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
}

footer{
    background-color: #e8ffaf;
}

.footer-copyright{
    background-color: #90cd65;
}

a{
    color: #76d037;
}



  

  

