body{
    background-color:white;
}

.header{
    background-color:#e8ffaf;
}



footer{
    background-color: #e8ffaf;
}

.footer-copyright{
    background-color: #90cd65;
}

a{
    color: #76d037;
}



.titulo{
    text-align: center;
}

.parrafo{
    text-align: center;
}



